.home{

    height: 540px;
    background-repeat : no-repeat;
    background-size : cover;
}

.stand{
    width: 50%;
    margin-top: 29%;

}
.standParent
{
    display: flex;
    justify-content: right;


}

.stand_book1{
    position: absolute;
    width: 200px;
    top: 63%;
    right: 5%;
}